<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to my <%= title %> me page</h1>
    <br></br>
    <p>My name is Dylan Meszaros.</p>
    <br></br>
    <img src="/img/webappimageofme.jpg" alt="profilePicture" style: width="300px"; height="400px">
    <br></br>
    <br></br>
    <p>I was born in Guelph Ontario and have lived here all my life. I am 21 and seeking work in thhe game development field? I've worked on plenty of game and software projects in the past, and I currently work at Code Ninjas, where I help/teach kids how to code.</p>
    <p>Following this is a copy of my resume in the pdf format.</p>
    <br></br>
    <p>Click here to open the <a href="https://drive.google.com/file/d/1txGIpUVN-2FzNfbR1eOgEEqEzFCRjAPP/view?usp=drive_link">resume</a>.</p>
    <br></br>
    <p>If you still want to know more feel free to read my <a href="/contact">contact</a> page.</p>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   