<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
    <div class="jumbotron">

        <h1>Welcome to my website! This is my <%= title %> Page</h1>
        <br></br>
        <p>This page will give you a brief summary of what the purpose of this website is, and explain what pages are available to you.</p>
        <br></br>
        <p>We'll start from left-to-right:</p>
        <p>The <a href="/about">About</a> page will provide information about me that you would likely want to know.</p>
        <p>The <a href="/contact">Contact</a> page will provide information that will help you get in contact with me.</p>
        <p>The <a href="/projects">Projects</a> page will provide information about me that you would likely want to know.</p>
        <p>The <a href="/services">Services</a> page will provide a list of different Services I provide.</p>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   