<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
    <div class="jumbotron">

        <h1>Welcome to <%= title %> Page</h1>
        <p>The following will be a list of projects I have supposedly completed.</p>
        <table>
            <tr>
                <td><img src="/img/webappproject1.PNG" alt="orbeimage" style: width="300px"; height="300px"></td>
                <td>
                    <div class="card" style="height: 19rem">
                        <h2 class="card-subtitle mb-2">ORBE</h2>
                        <div class="card-body"> A game where the player adventures across the planets of Sol in search of the strongest Orbe in order to challenge the new god. </div>
                        <p>Role: Lead Developer</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/img/webappproject2.PNG" alt="deepunderimage" style: width="300px"; height="300px"></td>
                <td>
                    <div class="card" style="height: 19rem">
                        <h2 class="card-subtitle mb-2">Deep Under</h2>
                        <div class="card-body"> A game where the player dives underwater in search of the mysteries this water submerged planet offers. </div>
                        <p>Role: Lead Developer</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/img/webappproject3.PNG" alt="customgrassimage" style: width="300px"; height="300px"></td>
                <td>
                    <div class="card" style="height: 19rem">
                        <h2 class="card-subtitle mb-2">Custom Grass System</h2>
                        <div class="card-body"> While outdated now this system was praised among the devforum developer community for being one of the first to try it with the engine and how good the performance was given the engine it was made under. (Roblox) </div>
                        <p>Role: Lead Developer</p>
                    </div>
                </td>
            </tr>
          </table>
          <br>
          <br>
          <br>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   