<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    <br>
    <p>If you wish to quickly get an idea of what I offer than by all means read the following categories:</p>
    <br>
    <table>
        <tr>
            <td><img src="/img/programmerlogo.png" alt="orbeimage" style: width="300px"; height="300px"></td>
            <td>
                <div class="card" style="width: 30rem; height: 19rem;">
                    <h2 class="card-subtitle mb-2">Programer</h2>
                    <div class="card-body"> I can offer a variety of programming skills and 4 years of self taught experience to the programming position you'd want me to fill.</p>
                </div>
            </td>
        </tr>
        <tr>
            <td><img src="/img/modelinglogo.png" alt="deepunderimage" style: width="300px"; height="300px"></td>
            <td>
                <div class="card" style="width: 30rem; height: 19rem;">
                    <h2 class="card-subtitle mb-2">Asset Designer</h2>
                    <div class="card-body"> I can offer a very large variety of assets to be made. I've worked with pixel art, regular 2d, 3d, low poly, stylistic, realistic, and many others.</p>
                </div>
            </td>
        </tr>
        <tr>
            <td><img src="/img/teachinglogo.png" alt="customgrassimage" style: width="300px"; height="300px"></td>
            <td>
                <div class="card" style="width: 30rem; height: 19rem;">
                    <h2 class="card-subtitle mb-2">Teacher/Tutor</h2>
                    <div class="card-body"> I've worked at the most successful Code Ninjas in the world for over a year now. Not only teaching children but also guiding aspiring game developers/software engineers towards the answers they seek.</p>
                </div>
            </td>
        </tr>
      </table>

      <br>
      <br>

      <p>If you wish to take a deep look into my accomplishments, experiences and certificates then kindly head to my <a href="/about">about</a> page and read my resume.</p>
      <br>
      <br>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   